<mat-nav-list class="color-01">

<!--    <div class="profile-card">-->
<!--      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Samuel Alves">-->
<!--      <div class="header">-->
<!--        <h2>Samuel Alves dos santos</h2>-->
<!--        <h4>samuelalvesv4@gmail.com</h4>-->
<!--      </div>-->
<!--    </div>-->

<!--  <mat-divider></mat-divider>-->

<!--  <h2 matSubheader >Pages</h2>-->

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home" (click)="toggleSideBar()">Home</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="toggleSideBar()">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/galeria">Galeria</a>
  <mat-divider></mat-divider>

  <h2 matSubheader >Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/servicos" (click)="toggleSideBar()">
    <mat-icon>miscellaneous_services</mat-icon>
    Serviços
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/agenda">
    <mat-icon>schedule</mat-icon>
    Agenda
  </a>
</mat-nav-list>


