<mat-card class="mat-elevation-z4" style="height: 10%">
  <mat-card-subtitle><mat-icon>miscellaneous_services</mat-icon> Serviços</mat-card-subtitle>
</mat-card>
<br>
<mat-card style="height: 100%">
    <button mat-raised-button (click)="navigateToServicoCreate()" class="color-10">
      Novo Serviço
    </button>
    <div>
          <app-servico-read
          [isMostrarColunaDescricao]="true"
          [isMostrarColunaValor]="true"
          [isMostrarColunaDuracao]="true"
          [isMostrarColunaAction]="true"
          >
          </app-servico-read>
    </div>
    <br>
</mat-card>

