<mat-card class="mat-elevation-z8" style="background-color: #fafafa">
  <mat-card-subtitle class="color-01"><mat-icon>person</mat-icon> Usuários/Cadastro</mat-card-subtitle>
</mat-card>

<br>

<mat-card>
  <form>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input type="text" matInput placeholder="Ex. Maria dos Santos" [(ngModel)]="pessoa.nome" name="nome">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. name@hotmail.com" [(ngModel)]="pessoa.email" name="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input type="text" matInput placeholder="Ex. 000.000.000-00" [(ngModel)]="pessoa.cpf" name="cpf">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input type="text" matInput placeholder="Ex. (00) 00000-0000" [(ngModel)]="pessoa.fone" name="fone">
    </mat-form-field>
    <br>
  </form>
  <button mat-raised-button (click)="createUsuario()" class="color-10">Salvar</button>
  <button mat-raised-button (click)="cancel()" class="color-01">Cancel</button>
</mat-card>
