<!--<mat-carousel  timings="250ms ease-in"  [autoplay]="true"-->
<!--                 interval="3000"-->
<!--                 color="accent"-->
<!--                 maxWidth="auto"-->
<!--                 proportion="40"-->
<!--                 slides="5"-->
<!--                 [loop]="true"-->
<!--                 [hideArrows]="false"-->
<!--                 [hideIndicators]="false"-->
<!--                 [useKeyboard]="true"-->
<!--                 [useMouseWheel]="false"-->
<!--                 orientation="ltr"-->

<!--  >-->
<!--    <mat-carousel-slide-->
<!--      #matCarouselSlide-->
<!--      *ngFor="let slide of slides; let i = index"-->
<!--      [image]="slide.image"-->
<!--      overlayColor="#00000040"-->
<!--      [hideOverlay]="false"-->
<!--    ></mat-carousel-slide>-->

<!--</mat-carousel>-->
<!--<br>-->
<!--<mat-toolbar class="color-10">-->
<!--  Produtos-->
<!--</mat-toolbar>-->

<!--<div class="content">-->
<!--  <div fxLayout="row wrap" fxLayoutGap="16px grid">-->
<!--    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of produtos">-->
<!--      <mat-card class="mat-elevation-z4" >-->
<!--        <img mat-card-image [src]="num.image">-->
<!--        <mat-card-content>-->
<!--          <h1>R$25,00</h1>-->
<!--          <p>-->
<!--            Descrição sobre o produto.-->
<!--          </p>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <button mat-button>LIKE</button>-->
<!--          <button mat-button>SHARE</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<mat-tab-group>-->
<!--  <mat-tab label="Profissionais">-->
<!--  </mat-tab>-->
<!--  <mat-tab label="Serviços">-->
<!--  </mat-tab>-->
<!--  <mat-tab label="Produtos">-->
<!--    <div class="content">-->
<!--      <div fxLayout="row wrap" fxLayoutGap="16px grid">-->
<!--        <div fxFlex="25%"  *ngFor="let num of produtos">-->
<!--          <mat-card class="mat-elevation-z4" >-->
<!--            <img mat-card-image [src]="num.image">-->
<!--            <mat-card-actions>-->
<!--              <button mat-button>R$ 25,00</button>-->
<!--            </mat-card-actions>-->
<!--          </mat-card>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-tab>-->
<!--</mat-tab-group>-->

<!--<mat-tab-group>-->
<!--  <mat-tab label="Galeria">-->
<!--  </mat-tab>-->
<!--  <mat-tab label="Localização">-->
<!--  </mat-tab>-->
<!--  <mat-tab label="Outros">-->
<!--    <mat-grid-list cols="2">-->
<!--      <mat-grid-tile [colspan]="1" [rowspan]="1">-->
<!--        Conteúdo-->
<!--      </mat-grid-tile>-->
<!--      <mat-grid-tile [colspan]="1" [rowspan]="1">-->
<!--        Conteúdo-->
<!--      </mat-grid-tile>-->
<!--    </mat-grid-list>-->
<!--  </mat-tab>-->
<!--</mat-tab-group>-->



<mat-grid-list cols="3">
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
        <div class="teste" style="height: 300px">
          <div class="profile-card">
            <div class="header">
              <h1>Olá, Seja Bem Vindo!</h1>
              <h2>Samuel Alves dos santos</h2>
            </div>
            <img src="assets/images/profile/1.jpg" alt="Samuel Alves">
          </div>
        </div>
        <br>
        <br>
        <mat-card class="teste2" routerLinkActive="list-item-active" routerLink="/">
          <mat-card-content>
            <button mat-fab color="primary" >
              <mat-card-actions>
              <mat-icon>home</mat-icon>
              <h4><b>Início</b></h4>
              </mat-card-actions>
            </button>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="teste2" routerLinkActive="list-item-active" routerLink="/dashboard">
          <mat-card-content>
            <button mat-fab style="background-color: rgb(144, 237, 125)" >
                <mat-card-actions>
                  <mat-icon>dashboard</mat-icon>
                  <h4><b>Dashboard</b></h4>
                </mat-card-actions>
            </button>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="teste2" routerLinkActive="list-item-active" routerLink="/agendamentos">
          <mat-card-content>
            <button mat-fab color="warn">
              <mat-card-actions>
                <mat-icon>view_agenda</mat-icon>
                <h4><b>Agenda</b></h4>
              </mat-card-actions>
            </button>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="teste2" routerLinkActive="list-item-active" routerLink="/funcionarios">
          <mat-card-content>
            <button mat-fab style="background-color: rgba(247, 163, 92, 0.75)">
              <mat-card-actions>
                <mat-icon>engineering</mat-icon>
                <h4><b>Funcionário</b></h4>
              </mat-card-actions>
            </button>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="teste2" routerLinkActive="list-item-active" routerLink="/usuarios">
          <mat-card-content>
            <button mat-fab style="background-color: green">
              <mat-card-actions>
                <mat-icon>person</mat-icon>
                <h4><b>Usuários</b></h4>
              </mat-card-actions>
            </button>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="teste2" routerLinkActive="list-item-active" routerLink="/servicos">
          <mat-card-content>
            <button mat-fab style="background-color: blueviolet" >
              <mat-card-actions>
                <mat-icon>miscellaneous_services</mat-icon>
                <h4><b>Serviços</b></h4>
              </mat-card-actions>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</mat-grid-list>




