<div>
  <mat-vertical-stepper linear #stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>Início</ng-template>
        <div>
          <button matStepperNext mat-fab color="primary"><mat-icon>add</mat-icon></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="agendamentoForm">
      <form [formGroup]="agendamentoForm">
        <ng-template matStepLabel>Selecione a data do agendamento</ng-template>
          <mat-form-field class="example-full-width" appearance="fill" style="width: 50%">
            <mat-label>Selecione a data</mat-label>
            <input  matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [formControl]="dateFormCtrl" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <div>
          <mat-error *ngIf="horarios.length === 0"><span>Vagas indisponivéis para data selecionada!</span></mat-error>
          <span *ngIf="horarios.length > 0"> <p style="color: green">Vagas disponivéis: {{horarios.length}}</p></span>
        </div>
        <div>
          <button matStepperPrevious mat-mini-fab color="primary"><mat-icon>skip_previous</mat-icon></button>
          <button matStepperNext mat-mini-fab color="primary" [disabled]="horarios.length === 0"><mat-icon>skip_next</mat-icon></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="agendamentoForm">
      <form [formGroup]="agendamentoForm">
        <ng-template matStepLabel>Selecione o serviço</ng-template>
          <app-servico-read
            [isMostrarColunaSelect]="true"
            [isMostrarColunaDescricao]="true"
            [isMostrarColunaValor]="true"
            (servicoSelecionado)="setServico($event)"
          >
          </app-servico-read>
        <div>
          <button matStepperPrevious mat-mini-fab color="primary"><mat-icon>skip_previous</mat-icon></button>
          <button matStepperNext mat-mini-fab color="primary" [disabled]="this.agendamentoForm.value.servico === ''"><mat-icon>skip_next</mat-icon></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="agendamentoForm">
      <form [formGroup]="agendamentoForm">
        <ng-template matStepLabel>Selecione um funcionário</ng-template>
          <app-funcionario-read
            [isMostrarColunaNone]="true"
            [isMostrarColunaSelect]="true"
            (funcionarioSelecionado)="setFuncionario($event)"
          >
          </app-funcionario-read>
        <div>
          <button matStepperPrevious mat-mini-fab color="primary"><mat-icon>skip_previous</mat-icon></button>
          <button matStepperNext mat-mini-fab color="primary" [disabled]="this.agendamentoForm.value.funcionario === ''"><mat-icon>skip_next</mat-icon></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="agendamentoForm">
      <form [formGroup]="agendamentoForm">
        <ng-template matStepLabel>Selecione um cliente</ng-template>
          <app-pessoa-read
            [isMostrarColunaNone]="true"
            [isMostrarColunaSelect]="true"
            (pessoaSelecionada)="setPessoa($event)">
          </app-pessoa-read>
        <div>
          <button matStepperPrevious mat-mini-fab color="primary"><mat-icon>skip_previous</mat-icon></button>
          <button matStepperNext mat-mini-fab color="primary" [disabled]="this.agendamentoForm.value.pessoa === ''"><mat-icon>skip_next</mat-icon></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="agendamentoForm">
      <form [formGroup]="agendamentoForm">
        <ng-template matStepLabel>Selecione um horário</ng-template>
        <mat-selection-list #shoes [multiple]="false">
          <mat-list-option *ngFor="let horario of horarios" [value]="horario" (click)="setHorario(horario)">
            {{horario}}
          </mat-list-option>
        </mat-selection-list>
        <p>
          Horário selecionado: {{shoes.selectedOptions.selected[0]?.value}}
        </p>
        <div>
          <button matStepperPrevious mat-mini-fab color="primary"><mat-icon>skip_previous</mat-icon></button>
          <button matStepperNext mat-mini-fab color="primary" [disabled]="shoes.selectedOptions.isEmpty()"><mat-icon>skip_next</mat-icon></button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fim</ng-template>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dados do agendamento</mat-card-title>
        </mat-card-header>
        <div style="padding: 20px" *ngIf="!shoes.selectedOptions.isEmpty()">
          <h4>Data/horário:<h5>{{dateFormCtrl.value.toLocaleDateString() + ' ' +shoes.selectedOptions.selected[0]?.value}}</h5></h4>
          <h4>Cliente: <h5>{{agendamentoForm.value.pessoa.nome}}</h5></h4>
          <h4>Serviço: <h5>{{agendamentoForm.value.servico.descricao}}</h5></h4>
          <h4>Cliente: <h5>{{agendamentoForm.value.funcionario.pessoa.nome}}</h5></h4>
          <h4>Status: <h5>{{agendamentoForm.value.status}}</h5></h4>
        </div>
        <mat-card-actions>
          <button mat-icon-button color="primary"><mat-icon>pending_actions</mat-icon></button>
        </mat-card-actions>
      </mat-card>
      <div>
        <button (click)="cancel()" mat-fab color="warn"><mat-icon>close</mat-icon></button>
        <button (click)="createAgendamento()" mat-fab color="primary"><mat-icon>add</mat-icon></button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>



