<mat-card class="mat-elevation-z8" style="background-color: #fafafa">
  <mat-card-subtitle class="color-01"><mat-icon>person</mat-icon> Usuários/Excluir</mat-card-subtitle>
</mat-card>

<br>

<mat-card>
  <form>
    <mat-form-field>
      <mat-label >ID</mat-label>
      <input type="number" matInput [value]="pessoa.id" disabled>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input type="text" matInput [value]="pessoa.nome" name="nome" disabled>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput matInput [value]="pessoa.email" name="email" disabled>
    </mat-form-field>
    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input type="text" matInput [value]="pessoa.cpf" name="cpf" disabled>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input type="text" matInput matInput [value]="pessoa.fone" name="fone" disabled>
    </mat-form-field>
    <br>
  </form>
  <button mat-raised-button (click)="deleteUsuario()" class="color-10">Excluir</button>
  <button mat-raised-button (click)="cancel()" class="color-01">Cancel</button>
</mat-card>

