<mat-tab-group>
  <mat-tab label="Funcionário">
    <div style="padding: 10px">
      <form>
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input type="number" matInput [(ngModel)]="funcionario.id" name="id" disabled>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input type="text" matInput placeholder="Ex. Maria dos Santos" [(ngModel)]="funcionario.pessoa.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. name@hotmail.com" [(ngModel)]="funcionario.pessoa.email" name="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>CPF</mat-label>
          <input type="text" matInput placeholder="Ex. 000.000.000-00" [(ngModel)]="funcionario.pessoa.cpf" name="cpf">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Telefone</mat-label>
          <input type="text" matInput placeholder="Ex. (00) 00000-0000" [(ngModel)]="funcionario.pessoa.fone" name="fone">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sálario</mat-label>
          <input type="text" matInput placeholder="Ex. 1200.00" [(ngModel)]="funcionario.salario" name="salario">
        </mat-form-field>
        <br>
      </form>
      <button mat-raised-button (click)="updateFuncionario()" class="color-10">Atualizar</button>
      <button mat-raised-button (click)="cancel()" class="color-01">Cancel</button>
    </div>
  </mat-tab>
  <mat-tab label="Serviços"> Serviços </mat-tab>
  <mat-tab label="Informações Gerais">

    <mat-card class="color-01">
      <div style="padding: 20px">
        <h4>Nome: <h5>{{funcionario.pessoa.nome}}</h5></h4>
        <h4>Email: <h5>{{funcionario.pessoa.email}}</h5></h4>
        <h4>Fone: <h5>{{funcionario.pessoa.fone}}</h5></h4>
        <h4>Salário: <h5>{{funcionario.salario}}</h5></h4>
      </div>
      <mat-card-actions>
        <button mat-icon-button color="primary"><mat-icon>pending_actions</mat-icon></button>
      </mat-card-actions>
    </mat-card>

  </mat-tab>
</mat-tab-group>

