<div style="padding: 10px">
  <button (click)="navigateToAgendamentoCreate()" mat-fab color="primary">
    <mat-icon>note_add</mat-icon>
  </button>
  <mat-tab-group>
    <mat-tab label="Aceitos/Confirmados">
      <app-agendamento-read-aceito-confirmado
        (atualizaStatusEleito)="atualizaAgendamentos($event)" [atualizaStatus]="atualizaStatusEleito"></app-agendamento-read-aceito-confirmado>
    </mat-tab>
    <mat-tab label="Pendentes">
      <app-agendamento-read-pendente (atualizaStatusEleito)="atualizaAgendamentos($event)" ></app-agendamento-read-pendente>
    </mat-tab>
    <mat-tab label="Finalizados">
      <app-agendamento-read-finalizado (atualizaStatusEleito)="atualizaAgendamentos($event)" [atualizaStatus]="atualizaStatusEleito"></app-agendamento-read-finalizado>
    </mat-tab>
    <mat-tab label="Cancelados">
      <app-agendamento-read-cancelado (atualizaStatusEleito)="atualizaAgendamentos($event)" [atualizaStatus]="atualizaStatusEleito"></app-agendamento-read-cancelado>
    </mat-tab>
    <mat-tab label="Recusados">
      <app-agendamento-read-recusado (atualizaStatusEleito)="atualizaAgendamentos($event)" [atualizaStatus]="atualizaStatusEleito"></app-agendamento-read-recusado>
    </mat-tab>
  </mat-tab-group>
</div>




