<div>
  <form>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input type="text" matInput placeholder="Ex. Maria dos Santos" [(ngModel)]="funcionario.pessoa.nome" name="nome">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. name@hotmail.com" [(ngModel)]="funcionario.pessoa.email" name="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input type="text" matInput placeholder="Ex. 000.000.000-00" [(ngModel)]="funcionario.pessoa.cpf" name="cpf">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input type="text" matInput placeholder="Ex. (00) 00000-0000" [(ngModel)]="funcionario.pessoa.fone" name="fone">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sálario</mat-label>
      <input type="text" matInput placeholder="Ex. 1200.00" [(ngModel)]="funcionario.salario" name="salario">
    </mat-form-field>
    <br>
  </form>
  <button mat-raised-button (click)="createFuncionario()" class="color-10">Salvar</button>
  <button mat-raised-button (click)="cancel()" class="color-01">Cancel</button>
</div>
