<mat-card class="mat-elevation-z8" style="background-color: #fafafa">
  <mat-card-subtitle class="color-01"><mat-icon>person</mat-icon> Usuários</mat-card-subtitle>
</mat-card>
<br>
<mat-card>
  <button mat-raised-button (click)="navigateToPessoaCreate()" class="color-10">
    Novo Usuário
  </button>
  <div>
    <app-pessoa-read
      [isMostrarColunaNone]="true"
      [isMostrarColunaEmail]="true"
      [isMostrarColunaFone]="true"
      [isMostrarColunaAction]="true"
    ></app-pessoa-read>
  </div>
  <br>
</mat-card>
<br>
<br>
