<!--  <button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--    <mat-icon style="float: left">info</mat-icon>-->
<!--  </button>-->
<!--  <span>Informações Gerais</span>-->
<button  mat-icon-button class="close-button2">
  <mat-icon>info</mat-icon>
  Informações Gerais
</button>
<mat-dialog-content style="padding-left: 25px;">
  <form>
    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input cdkFocusInitial matInput readonly [(ngModel)]="agendamento.id" name="ID">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Nome do Cliente</mat-label>
      <input matInput readonly [(ngModel)]="agendamento.pessoa.nome" name="nome">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Número do Cliente</mat-label>
      <input matInput readonly [(ngModel)]="agendamento.pessoa.fone" name="fone" mask="(00) 00000-0000">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Funcionário</mat-label>
      <input matInput readonly [(ngModel)]="agendamento.funcionario.pessoa.nome" name="funcionario">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Serviço</mat-label>
      <input matInput readonly [(ngModel)]="agendamento.servico.descricao" name="servico">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Preço</mat-label>
      <input matInput readonly [(ngModel)]="agendamento.servico.valor" name="valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Status</mat-label>
      <input matInput readonly [(ngModel)]="agendamento.status" name="status">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Data/Horário</mat-label>
      <input matInput readonly [(ngModel)]="dataHorario" name="dataAgendamento">
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="basic" style="width: 100px" mat-dialog-close>Sair</button>
      <button mat-raised-button color="warn" [mat-dialog-close]="false" *ngIf="data.flagButton">{{data.buttonsLabels[0]}}</button>
      <button mat-raised-button style="background-color: #4CAF50; color: #ffffff"  [mat-dialog-close]="true" *ngIf="data.flagButton">{{data.buttonsLabels[1]}}</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>


