/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-10{
  background-color: #212121;
  color: #fafafa;
}

.color-01{
  background-color: #fafafa;
  color: #212121;
}




